[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
black = "*"
tiktoken = "*"
openai = "*"
unstructured = "*"
nltk = "*"
fastapi = "*"
jinja2 = "*"
uvicorn = "*"
streamlit = "*"
streamlit-chat = "*"
tqdm = "*"
isort = "*"
langchainhub = "*"
firecrawl-py = "*"
langchain-community = "*"
langsmith = "*"
pillow = "*"
langchain-pinecone = "*"
certifi = "*"
langchain-chroma = "*"
python-dotenv = "*"
langchain-tavily = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.0"

[pipenv]
allow_prereleases = true
